<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="icon" type="image/svg+xml" href="/assets/vite.svg")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Vite App
  body
    nav
      ul
        li
          a(href="#m01") m01
        li
          a(href="#m02") m02
        li
          a(href="#m03") m03
        li

          a(href="#m04") m04
        li
          a(href="#m05") m05
        li
          a(href="#m06") m06
        li
          a(href="#m07") m07
        li
          a(href="#m08") m08
        li
          a(href="#m09") m09
        li
          a(href="#m10") m10
    section(id="m01") m01
    section(id="m02") m02
    section(id="m03") m03
    section(id="m04") m04
    section(id="m05") m05
    section(id="m06") m06
    section(id="m07") m07
    section(id="m08") m08
    section(id="m09") m09
    section(id="m10") m10
    footer footer
    script(type="module" src="js/main.js")

